.w-15 {
  width: 15%;
}
.w-85 {
  width: 85%;
}
@media (min-width: 768px) .w-md-85 {
  width: 85%;
}
.column-width {
  min-width: 400px;
}
.card-item-container {
  height: 600px;
}

.kanbancolumnwrapper {
  height: calc(100vh - 130px);
}
.single-column {
  flex-grow: 1;
}
