.w-15 {
  width: 15%;
}
.w-85 {
  width: 85%;
}
@media (min-width: 768px) .w-md-85 {
  width: 85%;
}
.column-width {
  min-width: 400px;
}
.card-item-container {
  max-height: 600px;
}

.kanbancolumnwrapper {
  height: calc(100vh - 150px);
}
.single-column {
  flex: 1;
}
.main-column{ 
  height: 100%;   
  overflow-y: scroll;
}